*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
main {
    flex: 1 0 auto;
    background-color: wheat;
}
footer {
    flex-shrink: 0;
}
.header{
    display: flex;
    background-color: #567DFF;
    align-items: center;
    /* height: auto; */
}
.header_logo,
.header_text {
    vertical-align: middle;  
}
.header_logo{
    float: left;
}
.header_text {
    color: aliceblue;
    font-size: 34px;
    margin: 0 auto;
    /* display: inline-block;
    vertical-align: middle; */
}
.main-content{
    display: flex;
    flex-direction: column;
    max-width: 1265px;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    margin: 20px auto;
    font-size: 30px;
}
.solving{
    margin: 0 auto 50px;
}
.solve{
    margin: 200px auto 0;
}
.answer{
    margin: 0 auto;
    width: 400px;
    height: 200px;
    resize: none;
    pointer-events: none;
}
.footer{
    text-align: center;
    background-color: #90B3E7;
    padding: 10px;
    font-size: 18px;
}